.navbar {
    height: 70px;
    background-color: rgb(207, 13, 13);
    width: 1900px;
    align-items: center;
    
}

.logo {
    height: 50px;
    background-color: rgb(71, 255, 46);
    width: 1600px;0
    align-self: 
    
    

    
}
.logo-icon {
    height: 20px;
    background-color: rgb(27, 6, 148);
    width: 1600px;0
    align-self: 
    

    
}